<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Jordi Nebot is a freelance Full Stack Web Developer from Barcelona. Clean HTML, CSS, Javascript and PHP for your great design! If anything, he's a Wordpress ninja!">
        <meta name="keywords" content="html, html5, css, javascript, php, wordpress, node.js, angular2, express, web developer, web development, full stack, front end, frontend">
        <title>Jordi Nebot — Web Developer</title>
    </head>
    <body class="loading-styles">
        <main id="main">
        <header id="main_header">
            <nav id="main_navigation">
                <ul class="main-menu">
                    <li class="menu-item"><a href="">About</a></li>
                    <li class="menu-item"><a href="">Skills</a></li>
                    <li class="menu-item"><a href="">Pens</a></li>
                    <li class="menu-item"><a href="">Works</a></li>
                    <li class="menu-item"><a href="">Blog</a></li>
                </ul>
                <div class="hover"></div>
            </nav>
        </header>
        <section id="me" class="flex page">
            <div class="abstract box">
                <div class="title"><h1>Jordi is simply a developer who loves the Web.</h1></div>
            </div>
            <div class="long-story box">
                <div class="content">
                    <p>The <a href="https://en.wikipedia.org/wiki/World_Wide_Web">Web</a> is open you might think that this is a handbook </p>
                </div>
            </div>
        </section>
        </main>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
