<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Jordi Nebot is a freelance Full Stack Web Developer from Barcelona. Clean HTML, CSS, Javascript and PHP for your great design! If anything, he's a Wordpress ninja!">
        <meta name="keywords" content="html, html5, css, javascript, php, wordpress, node.js, angular2, express, web developer, web development, full stack, front end, frontend">
        <title>Jordi Nebot — Web Developer</title>
    </head>
    <body class="loading-styles">
        <main id="main">
        <header id="main_header">
            <nav id="main_navigation">
                <ul class="main-menu">
                    <li class="menu-item"><a href="">About</a></li>
                    <li class="menu-item"><a href="">Skills</a></li>
                    <li class="menu-item"><a href="">Pens</a></li>
                    <li class="menu-item"><a href="">Works</a></li>
                    <li class="menu-item"><a href="">Blog</a></li>
                </ul>
                <div class="hover"></div>
            </nav>
        </header>
        <section id="me" class="flex">
            <div class="abstract box">
                <div class="title"><h1>I am simply a developer who loves the Web.</h1></div>
            </div>
            <div class="long-story box">
                <div class="content">
                    <p>I've been coding websites for two decades. I earn a living out of it since <a href="https://en.wikipedia.org/wiki/2012">2012</a>.</p>
                    <p>I know the Web from <a href="https://en.wikipedia.org/wiki/Internet_protocol_suite">TCP/IP</a> up to CSS, so you could call me a <a href="http://www.laurencegellert.com/2012/08/what-is-a-full-stack-developer/">Full Stack Developer</a>.</p>
                    <p>However, lately I've been more focused into <a href="https://en.wikipedia.org/wiki/Front-end_web_development">Frontend Development</a>.</p>
                </div>
            </div>
        </section>
        <section id="skills">
            <h1>Skills</h1>
            <dl id="skills-list" class="grid">
                <dd><p>This is a list of programming languages, frameworks and technologies I usually work with or I'm confident enough to use in a professional production environment.</p></dd>
                <dt class="cell skill css">CSS</dt>
                <dt class="cell skill html">HTML</dt>
                <dt class="cell skill js">JS</dt>
                <dt class="cell skill php">PHP</dt>
            </dl>
        </section>
        </main>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
