.enhance1 {

    font-family: 'Heebo', sans-serif;
    font-weight: 300;

    h1, h2, h3, .project p.title {
        font-family: 'Gentium Basic', serif;
    }

    #main-header {
        text-align: center;
    }


    .social-links {
        @include reset-list;
        .link-item {
            display: inline-block;
            margin: 0 1em 0 0;
            opacity: 0.4;
            transition: opacity 300ms;
            &:last-child {
                margin: 0;
            }
            &:hover {
                opacity: 0.8;
            }
        }
        .icon {
            transform: scale(0.8);
            text-indent: -9999px;
        }
    }


    .skill {
        display: inline-block;
        border-radius: 3px;
        padding: 0.25em 0.5em;
        margin: 0 0.25em 0.5em 0;
        font-size: 0.75em;
        font-weight: 700;
        color: white;
    }

    .skills {
        @include reset-list;
        width: 75%;
        &.positive {
            .skill {
                background-color: #89bcff;
            }
        }
        &.negative {
            .skill {
                background-color: #ff8989;
            }
        }
    }


}