footer {
    text-align: center;
    margin: 0 auto;
    .social-media {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 3em 0;
    }
    .social-icon {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
        &.stack-overflow {
            position: relative;
            top: -5px;
        }
        svg {
            width: calc(14px + 1vw);
            color: $pink;
            &:hover {
                animation: psychedelia 200ms infinite;
            }
        }
    }
}

@keyframes psychedelia {
    0% { color: $green }
    50% { color: $pink }
    100% { color: $blue }
}
