#main_header {
    grid-column: 1 / -1;
    margin: 3rem 0.25rem;
    background-color: white;
    justify-self: center;
    align-self: center;
}

#main_navigation {
    display: inline-block;
    position: relative;
    font-family: 'Inconsolata', monospace;
    .hover {
        position: absolute;
        display: block;
        content: '';
        width: 0rem;
        height: 3px;
        background: $pink;
        left: -3rem;
        transition: all 200ms;
    }
}

.main-menu {
    display: inline-block;
    list-style: none;
    text-align: center;
}

.menu-item {
    display: inline-block;
    margin: 0.25rem 0.75rem 0;
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    a {
        &:hover {
            color: $pink;
        }
    }
}
