.enhance-css {
    .icon {
        display: inline-block;
        background-repeat: no-repeat;
        background-image: url(../img/iconsprite.svg);
    }
}
.icon-mail {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-link-ext {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-twitter {
  width: 30px;
  height: 32px;
  background-position: -96px 0;
}
.icon-facebook {
  width: 18px;
  height: 32px;
  background-position: -144px 0;
}
.icon-github {
  width: 27px;
  height: 32px;
  background-position: -192px 0;
}
.icon-mail-alt {
  width: 32px;
  height: 32px;
  background-position: -240px 0;
}
.icon-linkedin {
  width: 27px;
  height: 32px;
  background-position: -288px 0;
}
.icon-link-ext-alt {
  width: 27px;
  height: 32px;
  background-position: -336px 0;
}
.icon-stackoverflow {
  width: 27px;
  height: 32px;
  background-position: -384px 0;
}
.icon-stackexchange {
  width: 23px;
  height: 32px;
  background-position: -432px 0;
}
.icon-git {
  width: 32px;
  height: 32px;
  background-position: -480px 0;
}

