#me {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.abstract {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .title {
        text-align: right;
		margin: 100px 40px 100px 100px;
    }
    h1 {
        color: $blue;
        width: 100%;
        display: inline;
        font-size: calc(28px + 1vw);
        background: linear-gradient(to bottom, transparent 0%, transparent 18%, white 18%, white 82%, transparent 82%, transparent 100%);
    }
    background-color: $pink;
    background-image: url(../img/avatar.svg);
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    flex: 1 1 50%;
}

.long-story {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 50%;
    font-size: calc(18px + 0.5vw);
}
