// Settings
$small:  768px;
$medium: 1024px;
$large:  1280px;

// Media Queries
@mixin respond-to($device) {
    @each $size in $device {
        @if $size == "small" {
            @media only screen and (max-width: $small) {
                @content;
            }
        }
        @else if $size == "medium" {
            @media only screen and (min-width: $small + 1) and (max-width: $medium - 1) {
                @content;
            }
        }
        @else if $size == "large" {
            @media only screen and (min-width: $medium) and (max-width: $large) {
                @content;
            }
        }
        @else if $size == "huge" {
            @media only screen and (min-width: $large + 1) {
                @content;
            }
        }
    }
}

@mixin up-to($device) {
    @each $size in $device {
        @if $size == "small" {
            @media only screen and (max-width: $small) {
                @content;
            }
        }
        @else if $size == "medium" {
            @media only screen and (max-width: $medium - 1) {
                @content;
            }
        }
        @else if $size == "large" {
            @media only screen and (max-width: $large) {
                @content;
            }
        }
    }
}

@mixin from($device) {
    @each $size in $device {
        @if $size == "medium" {
            @media only screen and (min-width: $small + 1) {
                @content;
            }
        }
        @else if $size == "large" {
            @media only screen and (min-width: $medium) {
                @content;
            }
        }
        @else if $size == "huge" {
            @media only screen and (min-width: $large + 1) {
                @content;
            }
        }
    }
}

.only-mobile {
    @include from('large') {
        display: none;
    }
}

.only-desktop {
    @include up-to('medium') {
        display: none;
    }
}
