/*
  Viewport sized properties with minimum and maximum values

  @modified Jordi Nebot (@jordinebot) based on `responsive-font` by:

  @author Eduardo Boucas (@eduardoboucas)

  @param {Number}   $responsive  - Viewport-based size
  @param {Number}   $min         - Minimum font size (px)
  @param {Number}   $max         - Maximum font size (px)
                                   (optional)
  @param {Number}   $fallback    - Fallback for viewport-
                                   based units (optional)

  @example scss - 5vw font size (with 50px fallback),
                  minumum of 35px and maximum of 150px
  @include responsive-property('font-size', 5vw, 35px, 150px, 50px);

*/
@mixin responsive-property($property, $responsive, $min, $max: false, $fallback: false) {
    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive) == 'vh', 'height', 'width');
    $min-breakpoint: $min / $responsive-unitless * 100;

    @media (max-#{$dimension}: #{$min-breakpoint}) {
        #{$property}: $min;
    }

    @if $max {
        $max-breakpoint: $max / $responsive-unitless * 100;

        @media (min-#{$dimension}: #{$max-breakpoint}) {
            #{$property}: $max;
        }
    }

    @if $fallback {
        #{$property}: $fallback;
    }

    #{$property}: $responsive;
}
